{% extends 'base.html' %}

{% block content %}
{% for post in posts %}
<!-- Post content-->
<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Posted on {{ post.date | date:"Y-m-d H:m" }} by {{ post.author }}</div>
    </header>
    <!-- Preview image figure-->
<!--    <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>-->
    <!-- Post content-->
    <section class="mb-5">
        <p class="fs-5">{{ post.content | truncatewords:30 }}</p>
        <p><a href="{% url 'post' post.pk %}">Read More</a></p>
        <p>Comments: {{ post.comments_count }}</p>
    </section>
</article>

{% endfor %}

{% endblock %}